<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adidas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>   
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/adidas.png">
</head>
<body>
      <header>
        <img src="/static/unnamed.png" />
        <h1>Adidas Dashboard</h1>
      </header>
    <div id="chartdiv_pie"><h2>Market Share</h2></div>
   <div id="chartdiv_bar"><h2>Total Sales</h2></div>
    <div id="chartdiv_bar3"><h2>Operating Profit </h2></div>    
    <div id="chartdiv_bar2"><h2>Total Sales with perspective to region & state</h2></div>    

    <script src="/static/Piechart.js" ></script>
    <script src="/static/barchart.js" ></script>
    <script src="/static/barchart2.js" ></script>
    <script src="/static/barchart3.js" ></script> 
</body>
</html>
